.todo-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #3498db; /* 변경된 색상 */
    border-radius: 8px; /* 더 둥근 모양으로 변경 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 더 부드러운 그림자 */
  }
  
  input {
    flex: 1;
    padding: 10px; /* 더 큰 패딩 */
    margin-right: 10px;
    border: 1px solid #3498db; /* 변경된 색상 */
    border-radius: 5px; /* 더 둥근 모양으로 변경 */
  }
  
  button {
    padding: 10px; /* 더 큰 패딩 */
    cursor: pointer;
    background-color: #3498db; /* 변경된 색상 */
    color: #fff;
    border: none;
    border-radius: 5px; /* 더 둥근 모양으로 변경 */
  }
  
  .todolist {
    list-style: none;
    padding: 0;
  }
  
  .todoItem {
    background-color: #f9f9f9;
    margin-bottom: 10px; /* 더 큰 간격 */
    padding: 10px; /* 더 큰 패딩 */
    border: 1px solid #ddd;
    border-radius: 8px; /* 더 둥근 모양으로 변경 */
    display: flex;
    align-items: center;
  }
  
  li {
    flex: 1;
    margin: 0;
  }
  
  button {
    background-color: #e74c3c; /* 변경된 색상 */
    color: #fff;
    border: none;
    padding: 8px 12px; /* 더 작은 패딩 */
    border-radius: 5px; /* 더 둥근 모양으로 변경 */
    cursor: pointer;
  }
  
  .checkbox {
    width: 18px; /* 조금 더 작은 가로 넓이 */
    height: 18px; /* 조금 더 작은 높이 */
    margin-right: 8px; /* 더 작은 간격 */
    flex:0.1;
  }
  
  .completed {
    text-decoration: line-through;
  }