
.navbar {
    background-color: black;
    padding: 1px;
}

.navlist {
    list-style: none;
    display: flex;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

.nav-item button {
    color: white;
    background-color : black;
    text-decoration: none;
    padding: 0px;
    box-shadow: none;
    font-weight: bold;
    
}
.nav-item button:hover {
    background-color: black;
}